<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/img"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AptitudeCalculator"
        tools:targetApi="31">
        <activity
            android:name=".Percentages"
            android:exported="false" />
        <activity
            android:name=".divisibility"
            android:exported="false" />
        <activity
            android:name=".ProfitLoss"
            android:exported="false" />
        <activity
            android:name=".calc_hcflcm"
            android:exported="false" />
        <activity
            android:name=".Apticalculator"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>